.calculator {
  max-width: 60%;
  margin: 0 auto;
}

.top, .button-row {
  display: flex;
  text-align: center;
}

.screen {
  background-color: gray;
  width: 75%;
  margin: 5px;
}

.button {
  background-color: lightgray;
  cursor: pointer;
  flex: 1;
  flex-flow: row wrap;
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 10px;
}

.button.clear {
  background-color: red;
}

.button.equals {
  background-color: green;
}